<app-header></app-header>
<div class="chargin" *ngIf="gatosfav== null">
    <mat-spinner></mat-spinner>
    <p class="waittext">Só um segundo,</p>
    <p class="waittext">estamos carregando seus favoritos</p>
</div>
<div class="favs">
    <div *ngFor="let catimgs of gatosfav" class="favor">
        <img class="imgscats" [src]="catimgs.image.url" routerLink="/sabmais/{{catimgs.image.id}}">
        <button mat-flat-button color="warn" id="remover" (click)="delFav(catimgs.id)">Remover Favorito</button>
    </div>
</div>
