.logo
    display: flex
    justify-content: center
    align-items: center
    gap: 47vw
.botoes
    display: flex
    justify-content: center
    align-items: center
    gap: 2vw
.example-card
    max-width: 20vw
::ng-deep .mat-tab-links
    display: flex
    justify-content: center
    gap: 5vw
.favs
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
.imgscats
    height: 15vw
    max-height: 15vw
    object-fit: cover
    margin: 20px 10px
    border-radius: 10px