<app-header></app-header>
<div class="chargin" *ngIf="catInfos == null">
    <mat-spinner></mat-spinner>
    <p class="waittext">Só um segundo,</p>
    <p class="waittext">estamos carregando as imagens</p>
</div>
<div class="center">
    <div class="cards">
        <mat-card class="example-card" *ngFor="let cat of catInfos">
            <img class="img" mat-card-image [src]="cat.url">
            <mat-card-title>{{cat.breeds[0].name}}</mat-card-title>
            <mat-card-subtitle>{{cat.breeds[0].origin}}</mat-card-subtitle>
            <mat-card-content>
                <p>{{ cat.breeds[0].description }}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button color="warn"aria-label="Example icon button with a heart icon">
                    <mat-icon (click)="favCats(cat.id)">favorite</mat-icon>
                </button>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                    <mat-icon routerLink="sabmais/{{cat.id}}">open_in_new</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>