.logo
    display: flex
    justify-content: center
    align-items: center
    gap: 48vw
.logoimg
    max-width: 450px
.botoes
    display: flex
    justify-content: center
    align-items: center
    gap: 2vw
.example-card
    max-width: 20vw
    margin: 20px 10px
::ng-deep .mat-tab-links
    display: flex
    justify-content: center
    gap: 5vw
.cards
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
.center
    display: flex
    align-items: center
    justify-content: center