.chargin
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 75vh

.waittext
    color: white
    font-family:   'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-size: 2rem
    margin: 1vh 0vh

.img
    height: 40vh
    max-height: 40vh
    object-fit: cover

.example-card
    max-width: 20vw
    margin: 10px 10px

.cards
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr

.center
    display: flex
    align-items: center
    justify-content: center