<div class="login">
    <img class="img" src="../../../assets/Img Login.png">
    <div class="content">
        <div class="data">
            <h1>Login</h1>
            <p class="params">Email:</p>
            <input type="text" placeholder="Insira seu Email" class="datas" id="email">
            <p class="params">Username:</p>
            <input type="text" placeholder="Insira o nome de usuário" class="datas" id="user">
            <p class="params">Senha:</p>
            <input type="password" placeholder="Insira a senha" class="datas" id="pass">
            <button mat-flat-button color="primary">Acessar a Conta</button>
        </div>
    </div>
</div>