.center
    height: 100vh
    display: flex
    justify-content: center
    align-content: center
    margin-top: 5vh

.login
    display: flex

.img
    min-height: 90vh
    min-width: 40vw
    max-height: 90vh
    max-width: 40vw
    object-fit: cover
    border-top-left-radius: 20px
    border-bottom-left-radius: 20px

.content
    background-color: white
    height: 90vh
    width: 55vw
    border-top-right-radius: 20px
    border-bottom-right-radius: 20px