<div class="logo">
    <img src="../../../../assets/Logo.png" alt="Logo do catzone" style="max-width: 450px">
    <div class="botoes">
        <button routerLink="/" active="" mat-flat-button color="primary">Gatos</button>
        <button routerLink="favoritos" mat-flat-button color="warn">Favoritos</button>
    </div>
</div>
<div class="notfound">
    <p class="error">Que pena</p>
    <p class="error">Não conseguimos encontrar essa página :(</p>
    <img src="../../../assets/Gato_Triste-removebg-preview.png">
</div>