.logo
    display: flex
    justify-content: center
    align-items: center
    gap: 40vw

.logoimg
    max-width: 450px

.botoes
    display: flex
    justify-content: center
    align-items: center
    gap: 2vw

::ng-deep .mat-tab-links
    display: flex
    justify-content: center
    gap: 5vw